---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

---

<Layout title="Home" >
	<Navbar/>
	<div class="w-3/4 flex flex-col items-center">
		<h2
		class="text-3xl font-semibold mt-6"
		>This is Astro</h2>
		<h2
		class="text-2xl"
		>easy to <span class="text-orange-500 font-bold">use</span>, 
			<br>easy to <span class="text-orange-500 font-bold">read</span> and
			<br>easy to <span class="text-orange-500 font-bold">mantain</span> web framework</h2>
	</div>
	<div class="mt-8 w-3/4">
		<h2 class="text-2xl">Why Astro?</h2>
		<p class="mt-4">Why choose Astro over another web framework? Here are five core design principles to help explain why we built Astro, the problems that it exists to solve, and why Astro may be the best choice for your project or team.</p>
		<h3 class="text-xl mt-4">Astro is…</h3>
		<ul>
			<li><strong class="text-orange-600">Content-focused:</strong> Astro was designed for content-rich websites.</li>
			<li><strong class="text-orange-600">Server-first:</strong> Websites run faster when they render HTML on the server.</li>
			<li><strong class="text-orange-600">Fast by default:</strong> It should be impossible to build a slow website in Astro.</li>
			<li><strong class="text-orange-600">Easy to use:</strong> You don’t need to be an expert to build something with Astro.</li>
			<li><strong class="text-orange-600">Fully-featured, but flexible:</strong> Over 100+ Astro integrations to choose from.</li>
		</ul>		
	</div>
	<div class="mt-8 w-3/4">
		<h2 class="text-2xl">Is Astro this good?</h2>
	</div>
	<div class="mt-8 w-3/4">
		<h2 class="text-2xl">Should I change to Astro?</h2>
	</div>
	<div class="mt-8 w-3/4">
		<h2 class="text-2xl">But I'm already a React Developer!</h2>
	</div>
</Layout>
