---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

---

<Layout title="Home" >
	<Navbar/>
	<div class="w-3/4 flex flex-col items-center">
		<h2
		class="text-3xl font-semibold mt-6"
		>This is Astro</h2>
		<h2
		class="text-2xl"
		>easy to <span class="text-orange-500 font-bold">use</span>, 
			<br>easy to <span class="text-orange-500 font-bold">read</span> and
			<br>easy to <span class="text-orange-500 font-bold">mantain</span> web framework</h2>
	</div>
	<div class="mt-8 w-1/2">
		<h2 class="text-2xl">Why Astro?</h2>
		<p class="mt-4">Why choose Astro over another web framework? Here are five core design principles to help explain why we built Astro, the problems that it exists to solve, and why Astro may be the best choice for your project or team.</p>
		<h3 class="text-xl mt-4">Astro is…</h3>
		<ul>
			<li><strong class="text-orange-600">Content-focused:</strong> Astro was designed for content-rich websites.</li>
			<li><strong class="text-orange-600">Server-first:</strong> Websites run faster when they render HTML on the server.</li>
			<li><strong class="text-orange-600">Fast by default:</strong> It should be impossible to build a slow website in Astro.</li>
			<li><strong class="text-orange-600">Easy to use:</strong> You don’t need to be an expert to build something with Astro.</li>
			<li><strong class="text-orange-600">Fully-featured, but flexible:</strong> Over 100+ Astro integrations to choose from.</li>
		</ul>		
	</div>
	<div class="mt-8 w-1/2">
		<h2 class="text-2xl">Is Astro this good?</h2>
		<p> In my opinion, Astro is a great framework for 
			building static sites, which it does exceptional well. 
			Single page apps or anything that relies on dynamic content, 
			user interaction, state management... not so much. And that's okay!</p>
	</div>
	<div class="mt-8 w-1/2">
		<h2 class="text-2xl">Should I change to Astro?</h2>
		<p>
			Honestly you really don't have to, I see Astro much more as an option when having to build simple pages and content-based websites, you shouldn't have to worry about using a big JavaScript framework (React, Angular, Vue) that will mostly deteriorate your SEO due to hydration when you can just fetch your data from a CMS and put it on a cool and fancy Astro template.
		</p>
	</div>
	<div class="mt-8 w-1/2">
		<h2 class="text-2xl">But I'm already a React Developer!</h2>
		<p>
			Don't worry then! Astro provides support to (but not only) React Components! You want to reuse that cool component that you made that time? No problems! You can easily import components into Astro Islands and it should work Right Away!
		</p>
	</div>
	<div class="mt-10 mb-48 w-1/2 text-center">
		<h3 class="text-xl">Islands? Data Fetching? Imports? WTH are all this and how does this work? Don't worry as we gotchu! 
			<a href="/About" class="text-orange-600 font-bold hover:opacity-70">Continue to the next page on this site</a>
		</h3>
	</div>
</Layout>
